body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  text-align: center;
  padding: 0px 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

img {
  max-width: 400px;
  height: 400px; /* Set height equal to max-width */
  object-fit: cover; /* Crop image to fit the container */
  border-radius: 12%;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
  flex-direction: column; /* Change to column for vertical alignment */
}

.header-content h1, .header-content h2 {
  margin: 0; /* Remove margin for vertical alignment */
}

nav {
  background-color: #f5f5f5;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav ul {
  justify-content: flex-end; /* Align items to the right */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.hero-text {
  text-align: left;
}

.hero-image {
  text-align: right;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
}
